// fonts
$lato: 'Lato';
$oswald: 'Oswald';

// colors
$brown: #be8c6b;
$brown-hover: #ab714b;
$light-gray: #b7b7b7;
$dark-gray: #707070;
$light-bgc: #f8f8f8;
$shadow-color: rgba(0, 0, 0, 0.1);
$shadow-form: #292c31;
$text-gray: #b7b7b7;
$contact-input: rgba(248, 248, 248, 0.8);