@import "_normalize";
@import "_variables";

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

// nav
.navigation {
    position: fixed;
    width: 100vw;
    background-color: $brown;
    padding: 1.5rem 1.5rem .5rem 1.5rem;

    &__list {
        height: 0;
        margin: 0;
        padding: 1rem 0 0 0;
        list-style: none;
        overflow: hidden;
        transition: 0.5s;

        &--visible {
            height: 47vh;
        }
    }

    &__item {
        margin-bottom: .5rem;
    }

    &__link {
        font-family: $lato;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__button {
        position: absolute;
        top: 2vh;
        right: 2%;
        border-style: none;
        color: #fff;
        font-size: 1.25rem;
        background-color: transparent;
    }
}