@import "_normalize";
@import "_variables";

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

// nav
.navigation {
    position: fixed;
    top: 0;
    height: 8vh;
    width: 100vw;
    background-color: $brown;
    padding: 1.5rem 0 0 0;
    z-index: 1;

    // mobile landscape
    @media(orientation: landscape) {
        height: 10vh;
    }

    @media(min-width: 730px) and (orientation: landscape) {
        padding: 0;
    }

    // desktops
    @media(min-width: 1024px) and (orientation: landscape) {
        height: 8vh;
    }

    &__list {
        position: relative;
        top: calc(100% - 1rem);
        height: 0;
        margin: 0;
        padding: 0 1.5rem;
        background-color: $brown;
        list-style: none;
        overflow: hidden;
        transition: 0.5s;

        // mobile landscape
        @media(min-width: 730px) and (orientation: landscape) {
            top: 0;
            padding: 0;
            height: 10vh;
            display: flex;
            justify-content: center;
        }

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            height: 8vh;
        }

        &--visible {
            height: 80vw;

            // mobile portrait
            @media(min-width: 360px) and (orientation: portrait) {
                height: 72vw;
            }

            @media(min-width: 410px) and (orientation: portrait) {
                height: 65vw;
            }

            @media(min-width: 480px) and (orientation: portrait) {
                height: 55vw;
            }

            @media(min-width: 600px) and (orientation: portrait) {
                height: 50vw;
            }

            @media(min-width: 900px) and (orientation: portrait) {
                height: 42vw;
            }

            // mobile landscape
            @media(orientation: landscape) {
                height: 80vh;
            }

            @media(min-width: 640px) and (orientation: landscape) {
                height: 75vh;
            }
        }
    }

    &__item {
        margin-bottom: .5rem;

        // mobile portrait
        @media(min-width: 768px) and (orientation: portrait) {
            margin-bottom: .75rem;
        }

        // mobile landscape
        @media(min-width: 730px) and (orientation: landscape) {
            margin: 0;
        }
    }

    &__link {
        font-family: $lato;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;

        // mobile portrait
        @media(min-width: 600px) and (orientation: portrait) {
            font-size: 1.25rem;
        }

        @media(min-width: 768px) and (orientation: portrait) {
            font-size: 1.5rem;
        }

        // mobile landscape
        @media(min-width: 730px) and (orientation: landscape) {
            display: block;
            height: 10vh;
            padding: 1rem 0.75rem;
            line-height: 5vh;
            font-size: 0.75rem;
        }

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            height: 8vh;
            display: flex;
            align-items: center;
            padding: 0rem 1.25rem;
        }

        &--active {
            @media(min-width: 1024px) and (orientation: landscape) {
                background-color: #fff;
                color: $brown;
            }
        }
    }

    &__button {
        position: absolute;
        top: 2vh;
        right: 2%;
        border-style: none;
        color: #fff;
        font-size: 1.25rem;
        background-color: transparent;

        // mobile portrait
        @media(min-width: 768px) and (orientation: portrait) {
            font-size: 2rem;
        }

        // mobile landscape
        @media(min-width: 730px) and (orientation: landscape) {
            display: none;
        }
    }
}

// top
.top {
    height: 70vh;
    margin-top: 8vh;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../assets/img/bg/top-bg.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    // mobile landscape
    @media(orientation: landscape) {
        height: 90vh;
    }

    // desktops
    @media(min-width: 1024px) and (orientation: landscape) {
        height: 80vh;
    }

    &__header {
        font-family: $oswald;
        color: #fff;
        letter-spacing: 0.25rem;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 0 2px 0 #444;

        // mobile portrait
        @media(min-width: 480px) and (orientation: portrait) {
            font-size: 3rem;
        }

        @media(min-width: 768px) and (orientation: portrait) {
            font-size: 4rem;
        }

        // mobile landscape
        @media(min-width: 730px) and (orientation: landscape) {
            font-size: 2.5rem;
        }

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            font-size: 3.5rem;
            letter-spacing: 0.5rem;
        }
    }

    &__image {
        width: 80%;

        // mobile portrait
        @media(min-width: 768px) and (orientation: portrait) {
            width: 60%;
        }

        // mobile landscape
        @media(orientation: landscape) {
            width: 50%;
        }

        @media(min-width: 730px) and (orientation: landscape) {
            width: 30%;
        }

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            width: 20%;
        }
    }
}

// welcome
.welcome {
    position: relative;
    height: 140vh;
    padding: 4rem 1rem;
    font-family: $lato;

    &__intro {
        margin-bottom: 4rem;
    }

    &__subheader {
        color: $light-grey;
        font-weight: 300;
        font-size: 0.8rem;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
    }

    &__header {
        margin-top: 0.25rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $light-grey;
        font-family: $oswald;
        font-size: 1.7rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__our-site {
        color: $brown;
        font-style: normal;
    }

    &__description {
        line-height: 1.5;
    }

    &__services {
        display: none;
    }

    &__image {
        position: absolute;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 4rem;
    }
}