@import "_normalize";
@import "_variables";

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

// nav
.navigation {
    position: fixed;
    top: 0;
    height: 8vh;
    width: 100vw;
    background-color: $brown;
    padding: 1.5rem 0 0 0;
    z-index: 1;

    // mobile landscape
    @media(orientation: landscape) {
        height: 10vh;
    }

    @media(min-width: 730px) and (orientation: landscape) {
        padding: 0;
    }

    // desktops
    @media(min-width: 1024px) and (orientation: landscape) {
        height: 8vh;
    }

    &__list {
        position: relative;
        top: calc(100% - 1rem);
        height: 0;
        margin: 0;
        padding: 0 1.5rem;
        background-color: $brown;
        list-style: none;
        overflow: hidden;
        transition: 0.5s;

        // mobile landscape
        @media(min-width: 730px) and (orientation: landscape) {
            top: 0;
            padding: 0;
            height: 10vh;
            display: flex;
            justify-content: center;
        }

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            height: 8vh;
        }

        &--visible {
            height: 80vw;

            // mobile portrait
            @media(min-width: 360px) and (orientation: portrait) {
                height: 72vw;
            }

            @media(min-width: 410px) and (orientation: portrait) {
                height: 65vw;
            }

            @media(min-width: 480px) and (orientation: portrait) {
                height: 55vw;
            }

            @media(min-width: 600px) and (orientation: portrait) {
                height: 50vw;
            }

            @media(min-width: 900px) and (orientation: portrait) {
                height: 42vw;
            }

            // mobile landscape
            @media(orientation: landscape) {
                height: 80vh;
            }

            @media(min-width: 640px) and (orientation: landscape) {
                height: 75vh;
            }
        }
    }

    &__item {
        margin-bottom: .5rem;

        // mobile portrait
        @media(min-width: 768px) and (orientation: portrait) {
            margin-bottom: .75rem;
        }

        // mobile landscape
        @media(min-width: 730px) and (orientation: landscape) {
            margin: 0;
        }
    }

    &__link {
        font-family: $lato;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;

        // mobile portrait
        @media(min-width: 600px) and (orientation: portrait) {
            font-size: 1.25rem;
        }

        @media(min-width: 768px) and (orientation: portrait) {
            font-size: 1.5rem;
        }

        // mobile landscape
        @media(min-width: 730px) and (orientation: landscape) {
            display: block;
            height: 10vh;
            padding: 1rem 0.75rem;
            line-height: 5vh;
            font-size: 0.75rem;
        }

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            height: 8vh;
            display: flex;
            align-items: center;
            padding: 0rem 1.25rem;
        }

        &--active {
            @media(min-width: 1024px) and (orientation: landscape) {
                background-color: #fff;
                color: $brown;
            }
        }
    }

    &__button {
        position: absolute;
        top: 2vh;
        right: 2%;
        border-style: none;
        color: #fff;
        font-size: 1.25rem;
        background-color: transparent;

        // mobile portrait
        @media(min-width: 768px) and (orientation: portrait) {
            font-size: 2rem;
        }

        // mobile landscape
        @media(min-width: 730px) and (orientation: landscape) {
            display: none;
        }
    }
}

// top
.top {
    height: 70vh;
    margin-top: 8vh;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../assets/img/bg/top-bg.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    // mobile landscape
    @media(orientation: landscape) {
        height: 90vh;
    }

    // desktops
    @media(min-width: 1024px) and (orientation: landscape) {
        height: 80vh;
    }

    &__header {
        font-family: $oswald;
        color: #fff;
        letter-spacing: 0.25rem;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 0 2px 0 #444;

        // mobile portrait
        @media(min-width: 480px) and (orientation: portrait) {
            font-size: 3rem;
        }

        @media(min-width: 768px) and (orientation: portrait) {
            font-size: 4rem;
        }

        // mobile landscape
        @media(min-width: 730px) and (orientation: landscape) {
            font-size: 2.5rem;
        }

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            font-size: 3.5rem;
            letter-spacing: 0.5rem;
        }
    }

    &__image {
        width: 80%;

        // mobile portrait
        @media(min-width: 768px) and (orientation: portrait) {
            width: 60%;
        }

        // mobile landscape
        @media(orientation: landscape) {
            width: 50%;
        }

        @media(min-width: 730px) and (orientation: landscape) {
            width: 30%;
        }

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            width: 20%;
        }
    }
}

// welcome
.welcome {
    position: relative;
    height: 140vh;
    padding: 4rem 1rem;
    font-family: $lato;

    // mobile portrait
    @media(min-width: 360px) and (orientation: portrait) {
        height: 115vh;
    }

    // Iphone X
    @media(max-width: 376px) and (min-height: 812px) {
        height: 95vh;
    }

    @media(min-width: 410px) and (orientation: portrait) {
        height: 100vh;
    }

    @media(min-width: 480px) and (orientation: portrait) {
        height: 90vh;
    }

    @media(min-width: 768px) and (orientation: portrait) {
        height: 100vh;
        padding: 4rem 2rem;
    }

    // mobile landscape
    @media(orientation: landscape) {
        height: 210vh;
    }

    @media(min-width: 730px) and (orientation: landscape) {
        height: 220vh;
    }

    @media(min-width: 850px) and (orientation: landscape) {
        height: 180vh;
        padding: 4rem;
    }

    // desktops
    @media(min-width: 1025px) and (orientation: landscape) {
        height: 70vh;
        max-height: 530px;
        max-width: 1520px;
        margin: 0 auto;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 100px 1fr 1fr 100px;
        grid-template-areas: ". intro image ."
            ". services image .";
    }

    &__intro {
        margin-bottom: 4rem;

        // desktops
        @media(min-width: 1025px) and (orientation: landscape) {
            grid-area: intro;
            margin-bottom: 0.5rem;
        }
    }

    &__subheader {
        color: $light-gray;
        font-weight: 300;
        font-size: 0.8rem;
        letter-spacing: 0.05rem;
        text-transform: uppercase;

        // mobile portrait
        @media(min-width: 768px) and (orientation: portrait) {
            font-size: 1rem;
        }
    }

    &__header {
        margin-top: 0.25rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $light-gray;
        font-family: $oswald;
        font-size: 1.7rem;
        font-weight: 700;
        text-transform: uppercase;

        // mobile portrait
        @media(min-width: 768px) and (orientation: portrait) {
            font-size: 3rem;
        }

        // desktops
        @media(min-width: 1054px) and (orientation: landscape) {
            font-size: 2.5rem;
        }
    }

    &__our-site {
        color: $brown;
        font-style: normal;
    }

    &__description {
        line-height: 1.5;

        // mobile portrait
        @media(min-width: 768px) and (orientation: portrait) {
            font-size: 1.25rem;
        }
    }

    &__services {
        display: none;
        width: 100%;
        height: 10vh;
        margin-bottom: 4rem;
        background-image: url('../assets/img/bg/witamy-tlo.jpg');
        background-size: cover;
        background-position: center;

        // mobile portrait
        @media(min-width: 768px) and (orientation: portrait) {
            display: flex;
        }

        // mobile landscape
        @media(min-width: 730px) and (orientation: landscape) {
            display: flex;
            height: 20vh;
        }

        // desktops
        @media(min-width: 1025px) and (orientation: landscape) {
            height: 12vh;
            max-height: 90px;
            max-width: 595px;
            grid-area: services;
        }
    }

    &__service {
        flex-basis: 25%;
        font-family: $oswald;
        font-weight: 300;
        color: $brown;
        text-decoration: none;
        text-transform: uppercase;

        // content inside link
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // desktops
        @media(min-width: 1025px) and (orientation: landscape) {
            font-size: 0.875rem;
        }

        &--active {
            background-color: $dark-gray;
            color: #fff;
        }
    }

    &__service-image {
        margin-bottom: 0.5rem;

        &--active {
            filter: brightness(3);
        }
    }

    &__image {
        position: absolute;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);

        // mobile portrait
        @media(min-width: 768px) and (orientation: portrait) {
            width: 60%;
        }

        // mobile landscape
        @media(orientation: landscape) {
            width: 60%;
        }

        // desktops
        @media(min-width: 1025px) and (orientation: landscape) {
            width: 80%;
            max-width: 476px;
            grid-area: image;
        }
    }
}

// portfolio
.portfolio {
    margin-top: 4rem;
    background-color: $light-bgc;

    &__wrapper {
        padding: 2rem 1rem;

        // mobile landscape
        @media(min-width: 730px) and (orientation: landscape) {
            padding: 2rem 8rem;
        }

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            height: 85vh;
            max-width: 1520px;
            max-height: 642px;
            margin: 0 auto;
            padding: 4rem 10rem;
            display: grid;
            grid-template-rows: 1fr 4fr 4fr;
            row-gap: 2rem;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 2rem;
            grid-template-areas: "text text text text"
                "main-project main-project image1 image2"
                "main-project main-project image-big image-big";
        }
    }

    &__text-content {

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            grid-area: text;
        }
    }

    &__header {
        margin-bottom: 1rem;
        font-family: $oswald;
        font-size: 1.7rem;
        text-transform: uppercase;

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            margin-top: 0;
            font-size: 2rem;
        }
    }

    &__description {
        font-family: $lato;
        line-height: 1.5;
    }

    &__project {
        height: 40vh;
        margin-bottom: 1rem;
        color: #fff;
        background-image: url('../assets/img/portfolio/realizacja-1.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        // mobile portrait
        @media(min-width: 768px) and (orientation: portrait) {
            margin-left: 8rem;
            margin-right: 8rem;
        }

        // mobile landscape
        @media(orientation: landscape) {
            height: 90vh;
        }

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            height: 100%;
            grid-area: main-project;
        }
    }

    &__project-description {
        height: 40vh;
        padding: 0 1rem;
        background-color: rgba(190, 140, 107, 0.7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        // mobile portrait
        @media(min-width: 480px) and (orientation: portrait) {
            padding: 0 4rem;
        }

        // mobile landscape
        @media(orientation: landscape) {
            height: 90vh;
        }

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            height: 100%;
            padding: 0 2rem;
        }
    }

    &__project-name {
        margin-bottom: 0.25rem;
        font-family: $oswald;
        font-size: 1.25rem;
        text-transform: uppercase;

        // mobile portrait
        @media(min-width: 480px) and (orientation: portrait) {
            font-size: 1.5rem;
        }

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            font-size: 1.75rem;
        }
    }

    &__project-info {
        font-family: $lato;
        font-size: 0.75rem;
        margin-top: 0.25rem;

        // mobile portrait
        @media(min-width: 480px) and (orientation: portrait) {
            font-size: 1rem;
        }

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            font-size: 1rem;
        }
    }

    &__image {
        width: 49%;

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            height: 100%;
            width: 100%;
        }

        &:first-of-type {

            // desktops
            @media(min-width: 1024px) and (orientation: landscape) {
                grid-area: image1;
            }
        }

        &:nth-of-type(2) {

            // desktops
            @media(min-width: 1024px) and (orientation: landscape) {
                grid-area: image2;
            }
        }

        &--big {
            width: 99%;

            // desktops
            @media(min-width: 1024px) and (orientation: landscape) {
                height: 100%;
                width: 100%;
                grid-area: image-big;
            }
        }
    }
}

// services
.services {
    padding: 2rem 1rem;

    // mobile portrait
    @media(min-width: 600px) and (orientation: portrait) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    // mobile landscape
    @media(min-width: 640px) and (orientation: landscape) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @media(min-width: 850px) and (orientation: landscape) {
        padding: 2rem;
    }

    // desktops
    @media(min-width: 1025px) and (orientation: landscape) {
        max-height: 612px;
        max-width: 1520px;
        margin: 0 auto;
        padding: 2rem 10rem;
    }

    &__intro {

        // mobile portrait
        @media(min-width: 600px) and (orientation: portrait) {
            flex-basis: 100%;
        }

        // mobile portrait
        @media(min-width: 640px) and (orientation: landscape) {
            flex-basis: 100%;
        }
    }

    &__header {
        margin-bottom: 0.5rem;
        font-family: $oswald;
        font-size: 1.7rem;
        text-transform: uppercase;

        // desktops
        @media(min-width: 1025px) and (orientation: landscape) {
            font-size: 2rem;
        }
    }

    &__description {
        margin-top: 0.5rem;
        margin-bottom: 4rem;
        font-family: $lato;
        line-height: 1.5;
    }

    &__item {
        margin-bottom: 2rem;
        display: flex;
        flex-wrap: wrap;

        // mobile portrait
        @media(min-width: 600px) and (orientation: portrait) {
            flex-basis: 48%;
        }

        // mobile landscape
        @media(min-width: 640px) and (orientation: landscape) {
            flex-basis: 48%;
        }

        // desktops
        @media(min-width: 1025px) and (orientation: landscape) {
            flex-basis: 30%;
        }
    }

    &__image {
        margin-left: 0.625rem;
        margin-right: 1rem;
        box-shadow: -10px -10px $shadow-color;

        &--main {
            margin-left: 0.625rem;
            margin-right: 1rem;
            box-shadow: -10px -10px $brown;
        }
    }

    &__item-header {
        margin-bottom: 0.15rem;
        font-family: $oswald;
        font-weight: 300;
        text-transform: uppercase;
    }

    &__item-subheader {
        font-family: $lato;
        color: $light-gray;
        font-weight: 300;
        font-size: 0.65rem;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
    }

    &__item-description {
        font-family: $lato;
        font-size: 0.75rem;
        line-height: 1.5;
    }
}

// latest
.latest {
    background-color: $light-bgc;

    &__wrapper {
        padding: 2rem 1rem;

        // mobile landscape
        @media(min-width: 850px) and (orientation: landscape) {
            padding: 2rem;
        }

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            max-height: 526px;
            max-width: 1520px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__intro {
        margin-bottom: 2rem;

        // dekstops
        @media(min-width: 1024px) and (orientation: landscape) {
            padding-left: 8rem;
            flex-basis: 100%;
        }
    }

    &__header {
        margin-bottom: 0.5rem;
        font-family: $oswald;
        font-size: 1.7rem;
        text-transform: uppercase;

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            font-size: 2rem;
        }
    }

    &__description {
        margin-top: 0.5rem;
        font-family: $lato;
    }

    &__item {
        height: 50vh;
        margin-bottom: 2rem;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;

        &:nth-child(2) {
            background-image: url('../assets/img/pages/aktualnosci-front-1.jpg');

            // desktops
            @media(min-width: 1024px) and (orientation: landscape) {
                margin-right: 2rem;
            }
        }

        &:nth-child(3) {
            background-image: url('../assets/img/pages/aktualnosci-front-2.jpg');
        }

        // mobile portrait
        @media(min-width: 600px) and (orientation: portrait) {
            height: 35vh;
        }

        @media(min-width: 768px) and (orientation: portrait) {
            margin-left: 8rem;
            margin-right: 8rem;
        }

        // mobile landscape
        @media(orientation: landscape) {
            height: 80vh;
        }

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            max-height: 301px;
            max-width: 582px;
            height: 40vh;
            flex-basis: 40%;
        }
    }

    &__item-date {
        position: absolute;
        top: -5%;
        bottom: 75%;
        left: -2%;
        right: 75%;
        background-color: $brown;

        // items inside
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // mobile portrait
        @media(min-width: 480px) and (orientation: portrait) {
            top: -2%;
            bottom: 82%;
            right: 80%;
        }

        @media(min-width: 600px) and (orientation: portrait) {
            left: -1%;
            right: 85%;
        }

        @media(min-width: 768px) and (orientation: portrait) {
            left: -2%;
        }

        // mobile landscape
        @media(orientation: landscape) {
            left: -1%;
            right: 80%;
        }

        @media(min-width: 850px) and (orientation: landscape) {
            top: -2%;
            bottom: 85%;
            right: 90%;
        }

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            max-width: 93px;
            max-height: 81px;
            bottom: 75%;
            right: 85%;
        }
    }

    &__date-image {
        margin-bottom: 0.5rem;
    }

    &__date-text {
        font-family: $oswald;
        color: #fff;
        font-weight: 300;
        font-size: 0.65rem;
        text-transform: uppercase;

        // mobile portrait
        @media(min-width: 480px) and (orientation: portrait) {
            font-size: 0.75rem;
        }
    }

    &__item-info {
        position: absolute;
        top: 40%;
        bottom: 0;
        padding: 0 1rem;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;

        // mobile portrait
        @media(min-width: 360px) and (orientation: portrait) {
            top: 55%;
        }

        // Iphone X
        @media(max-width: 376px) and (min-height: 812px) {
            top: 60%;
        }

        @media(min-width: 410px) and (orientation: portrait) {
            top: 60%;
        }

        @media(min-width: 600px) and (orientation: portrait) {
            top: 50%;
        }

        @media(min-width: 800px) and (orientation: portrait) {
            top: 60%;
        }

        // mobile landscape
        @media(orientation: landscape) {
            top: 50%;
        }

        @media(min-width: 667px) and (orientation: landscape) {
            top: 60%;
        }

        @media(min-width: 850px) and (orientation: landscape) {
            padding: 0 2rem;
        }

        @media(min-width: 960px) and (orientation: landscape) {
            top: 70%;
        }

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            max-height: 150px;
            top: 50%;
        }
    }

    &__item-header {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        font-family: $oswald;
        font-size: 1.25rem;
        text-transform: uppercase;

        // mobile portrait
        @media(min-width: 480px) and (orientation: portrait) {
            font-size: 1.5rem;
        }

        @media(min-width: 600px) and (orientation: portrait) {
            margin-top: 2rem;
        }

        // mobile landscape
        @media(min-width: 850px) and (orientation: landscape) {
            font-size: 1.5rem;
        }

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            margin-top: 1.5rem;
            margin-bottom: 1rem;
            font-size: 1.375rem;
        }
    }

    &__item-description {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-family: $lato;
        font-size: 0.75rem;
        line-height: 1.5;

        // mobile portrait
        @media(min-width: 480px) and (orientation: portrait) {
            font-size: 0.85rem;
        }

        @media(min-width: 600px) and (orientation: portrait) {
            margin-bottom: 1rem;
        }

        // mobile landscape
        @media(min-width: 850px) and (orientation: landscape) {
            font-size: 1rem;
        }

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            font-size: 0.75rem;
        }
    }

    &__item-more {
        font-family: $oswald;
        color: $brown;
        font-weight: 300;
        font-size: 0.75rem;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            @media(min-width: 1025px) and (orientation: landscape) {
                color: $brown-hover;
                text-decoration: underline;
            }
        }

        // mobile portrait
        @media(min-width: 480px) and (orientation: portrait) {
            font-size: 0.85rem;
        }

        // mobile landscape
        @media(min-width: 850px) and (orientation: landscape) {
            font-size: 1rem;
        }

        // desktops
        @media(min-width: 1024px) and (orientation: landscape) {
            font-size: 0.75rem;
        }
    }
}

// more
.more {
    background-image: url('../assets/img/bg/footer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
    color: $text-gray;

    // desktops
    @media(min-width: 1025px) and (orientation: landscape) {
        background-position-y: 20%;
    }

    &__wrapper {
        padding: 2rem 1rem;

        // mobile portrait
        @media(min-width: 410px) and (orientation: portrait) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        @media(min-width: 600px) and (orientation: portrait) {
            justify-content: center;
        }

        @media(min-width: 768px) and (orientation: portrait) {
            padding: 2rem 8rem;
        }

        // mobile landscape
        @media(orientation: landscape) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        // desktops
        @media(min-width: 1025px) and (orientation: landscape) {
            max-width: 1520px;
            margin: 0 auto;
            padding: 4rem 10rem;
        }
    }

    &__header {
        font-family: $oswald;
        color: #fff;
        text-transform: uppercase;
    }

    &__about {
        margin-bottom: 4rem;

        // mobile portrait
        @media(min-width: 410px) and (orientation: portrait) {
            margin-bottom: 1rem;
        }

        @media(min-width: 600px) and (orientation: portrait) {
            flex-basis: 45%;
            margin-right: 2rem;
        }

        // mobile landscape
        @media(orientation: landscape) {
            flex-basis: 45%;
            margin-bottom: 1rem;
        }

        @media(min-width: 812px) and (orientation: landscape) {
            flex-basis: 24%;
            margin-bottom: 0;
        }
    }

    &__about-content {
        font-family: $lato;
        font-size: 0.75rem;
        line-height: 1.5;
    }

    &__help {
        margin-bottom: 4rem;

        // mobile portrait
        @media(min-width: 410px) and (orientation: portrait) {
            margin-bottom: 1rem;
        }

        @media(min-width: 600px) and (orientation: portrait) {
            flex-basis: 45%;
        }

        // mobile landscape
        @media(orientation: landscape) {
            flex-basis: 35%;
            margin-bottom: 1rem;
        }

        @media(min-width: 812px) and (orientation: landscape) {
            flex-basis: 15%;
            margin-bottom: 0;
        }
    }

    &__help-list {
        padding-left: 0;
        list-style: none;
    }

    &__help-item {
        margin-bottom: 0.25rem;
    }

    &__help-link {
        font-family: $lato;
        color: $text-gray;
        font-size: 0.75rem;
        text-decoration: none;

        // desktops
        &:hover {
            @media(min-width: 1025px) and (orientation: landscape) {
                color: $brown-hover;
                text-decoration: underline;
            }
        }
    }

    &__contact {
        margin-bottom: 4rem;

        // mobile portrait
        @media(min-width: 410px) and (orientation: portrait) {
            margin-bottom: 1rem;
        }

        @media(min-width: 600px) and (orientation: portrait) {
            flex-basis: 45%;
            margin-right: 2rem;
        }

        // mobile landscape
        @media(orientation: landscape) {
            flex-basis: 45%;
            margin-bottom: 0;
        }

        @media(min-width: 812px) and (orientation: landscape) {
            flex-basis: 24%;
        }
    }

    &__contact-list {
        padding-left: 0;
        list-style: none;
    }

    &__contact-item {
        margin-bottom: 0.5rem;
        font-family: $lato;
        font-size: 0.75rem;
    }

    &__contact-icon {
        margin-right: 0.5rem;
    }

    &__contact-link {
        position: relative;
        display: inline-block;
        width: 1.625rem;
        height: 1.625rem;
        margin-right: 0.5rem;
        background-color: $brown;
    }

    &__contact-social {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__newsletter {

        // mobile portrait
        @media(min-width: 600px) and (orientation: portrait) {
            flex-basis: 45%;
        }

        // mobile landscape
        @media(orientation: landscape) {
            flex-basis: 35%;
        }

        @media(min-width: 812px) and (orientation: landscape) {
            flex-basis: 24%;
        }
    }

    &__newsletter-label {
        font-family: $lato;
        font-size: 0.75rem;
    }

    &__newsletter-input {
        display: block;
        margin-top: 0.5rem;
        padding: 0.25rem;
    }

    &__newsletter-button {
        padding: 0.5rem 0.75rem;
        border-style: none;
        background-color: $brown;
        font-family: $oswald;
        color: #fff;
        font-weight: 300;
        font-size: 0.75rem;
        text-transform: uppercase;
        transition: 0.5s;

        // desktops
        &:hover {
            @media(min-width: 1025px) and (orientation: landscape) {
                cursor: pointer;
                background-color: $brown-hover;
            }
        }
    }
}

// main-footer
.main-footer {
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
    font-family: $lato;
    font-size: 0.75rem;
}

// contact
.contact {
    padding: 4rem 1rem 2rem 1rem;

    // mobile portrait
    @media(min-width: 600px) and (orientation: portrait) {
        padding: 4rem 2rem 2rem 2rem;
    }

    // mobile portrait
    @media(min-width: 768px) and (orientation: portrait) {
        padding: 4rem 6rem 2rem 6rem;
    }

    &__write {
        margin-bottom: 3rem;
        margin-left: 1rem;
        background-image: url('../assets/img/bg/contact-form-bg.jpg');
        background-size: cover;
        background-position: center;
        box-shadow: -1.3rem -1.3rem 0 $shadow-form;
    }

    &__form {
        padding: 2rem;
        color: #fff;
        text-transform: uppercase;

        // mobile portrait
        @media(min-width: 480px) and (orientation: portrait) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        // mobile landscape
        @media(min-width: 533px) and (orientation: landscape) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__header {
        margin-top: 0;
        font-family: $oswald;
        letter-spacing: 0.05rem;

        // mobile portrait
        @media(min-width: 480px) and (orientation: portrait) {
            flex-basis: 100%;
            margin-bottom: 0;
        }

        // mobile landscape
        @media(min-width: 533px) and (orientation: landscape) {
            flex-basis: 100%;
            margin-bottom: 0;
        }
    }

    &__field {

        // mobile portrait
        @media(min-width: 480px) and (orientation: portrait) {
            flex-basis: 45%;
        }

        // mobile landscape
        @media(min-width: 533px) and (orientation: landscape) {
            flex-basis: 45%;
        }

        &--big {

            // mobile portrait
            @media(min-width: 480px) and (orientation: portrait) {
                flex-basis: 100%;
                margin-top: 0;
            }

            // mobile landscape
            @media(min-width: 533px) and (orientation: landscape) {
                flex-basis: 100%;
                margin-top: 0;
            }
        }
    }

    &__label {
        font-family: $lato;
        font-size: 0.625rem;
    }

    &__input {
        width: 100%;
        margin-top: 0.25rem;
        padding: 0.25rem;
        border-style: none;
        background-color: $contact-input;
    }

    &__button {
        padding: 0.375rem 1rem;
        background-color: $brown;
        border-style: none;
        font-family: $lato;
        color: #fff;
        font-size: 0.75rem;
        text-transform: uppercase;
    }

    &__image {
        width: 100%;
    }
}